<!DOCTYPE html>
<html>

<head>
    <title>EAVision News</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180773911-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-180773911-1');
    </script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/font.css">
    <link rel="stylesheet" type="text/css" href="/static/css/eavisionStyle.css">
    <link rel="icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="/static/css/mobile.css">
    <link rel="stylesheet" href="/static/css/animate.css">
</head>


<body>
    <!-- navbar -->
    <nav id="navbar" class="navbar navigation navbar-expand-md d-none d-md-block fixed-top">

    </nav>
    <!-- navbar -->
    <!-- mobile navbar -->
    <nav id="mobile-navbar" class="navbar navbar-expand-sm navbar-light navigation d-block d-md-none fixed-top">
    </nav>
    <!-- mobile navbar -->
    <div class="bodyOverlay homeNewsPage">

        <div class="homeNewsSection bgWhite" id="app">
            <div class="row center title-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">
                <h1>EAVision News</h1>
            </div>
            <div class="news-box">
                <div class="news-left">
                    <div v-for="(n, index) in news" class="row wow fadeInUp" :data-wow-delay="0.1 * (index + 1) + 's'">
                        <div v-if="index == 0" class="first-new-item" @click="onDetail(n)">
                            <img :src="n.osskey" alt="bg" />
                            <div class="bottom-container">{{n.title}}</div>
                        </div>

                        <div v-else class="card round">
                            <div class="card-body" @click="onDetail(n)">
                                <img class="news-img-left news_round" :src="n.osskey">
                                <div class="card-content">
                                    <h3 class="card-title">{{n.title}}</h3>
                                    <p class="card-text card-subtitle">{{n.des}}</p>
                                    <p class="card-text news-date">
                                        {{n.solutionDate.split(" ")[0]}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div v-if="news.length < count" class="pt-4"><button class="btn blue-border-button round"
                            @click="more">More</button></div> -->
                    <div class="newspageButton center pt-4"><a href="news.html"><button class="btn blue-button">See All News
                    </button></a></div>
                </div>

                <div class="news-right">
                    <div>
                        <h3 style="margin:20px 0 !important; font-size: 22px;">CATEGORIES</h3>
                        <a href="/news.html" style="color: #353535">Company News ({{count}})</a>
                    </div>

                    <div style="display: flex; flex-direction: column; margin-top: 40px;">
                        <h3 style="font-size: 22px; margin-bottom: 20px;">SOCIAL MEDIA</h3>
                        <a style="display: flex; align-items: center; margin-bottom: 15px;"
                            href="https://www.linkedin.com/company/eavision-technologies/" target="_blank">
                            <img style="width: 30px; height: 30px;" src="/static/img/icons/linkedin.png">
                            <span style="font-size: 16px; margin-left: 10px; color: #353535">LinkedIn</span>
                        </a>
                        <a style="align-items: center;"
                            href="https://www.youtube.com/channel/UCL1683_IwdnG2kUso3qeQOg" target="_blank">
                            <img style="width: 30px; height: 30px;" src="/static/img/icons/youtube.png">
                            <span style="font-size: 16px; margin-left: 8px; color: #353535">Youtube</span>
                        </a>
                    </div>

                </div>
            </div>

        </div>
        
        <div class="loading-box">
            <img src="./static/img/loading.gif" alt="">
        </div>

    </div>
    <!-- Footer -->
    <div class="footer" id="footer">
    </div>
    <!-- Footer End -->
    <script src="/static/js/wow.min.js"></script>
    <script src="/static/js/jquery.min.js">
    </script>
    <script type="text/javascript" src="/static/js/popper.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/accordion.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="/static/js/eavision.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    
    <script>
        var body = new Vue({
            el: "#app",
            data: {
                news: [],
                index: 1,
                count: 0

            },
            mounted() {
                this.getNews()
            },
            methods: {
                getNews() {
                    var vu = this;
                    $.post('https://front.eavchina.com/front/listSolution?pageNum=' + this.index + '&pageSize=5&stype=5', function (
                        ret) {
                        vu.news = ret.result;
                        vu.count = ret.resultNum;
                        $.each(vu.news, function (i, v) {
                            v.osskey = v.osskey.replace(/http:\/\/whjm-test.oss-cn-beijing.aliyuncs.com/g,
                                "https://whjm-test.oss-accelerate.aliyuncs.com") + `?x-oss-process=image/resize,${i == 0 ? 'w_1114' : 'w_300'},limit_0`
                        });
                        $('.loading-box').fadeOut();
                    })
                },
                more() {
                    var vu = this;
                    this.index++;
                    $.post('https://front.eavchina.com/front/listSolution?pageNum=' + this.index + '&pageSize=5&stype=5', function (
                        ret) {
                        vu.news.concat(ret.result);
                        vu.count = ret.resultNum;
                        $.each(vu.news, function (i, v) {
                            console.log(v)
                            v.osskey = v.osskey.replace(/http:\/\/whjm-test.oss-cn-beijing.aliyuncs.com/g,
                                "https://whjm-test.oss-accelerate.aliyuncs.com") + '?x-oss-process=image/resize,w_200,limit_0'
                        });
                    })
                },
                onDetail(data) {
                    window.open('/newsDetail.html?id=' + data.id, '_self');
                }

            }
        });
    </script>
</body>

</html>