/* General Styles */

body {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    background-color: #fafafa !important;
    color: #353535;
    letter-spacing: 0;
    overflow-x: hidden;
}

a {
    color: #289ceb;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 40px;
    letter-spacing: 0;
    line-height: 64px;
    color: #353535;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 30px;
    letter-spacing: 0;
    color: #353535;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 20px;
    letter-spacing: 0;
    color: #353535;
}

h4 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 0;
    color: #353535;
}

p {
    color: #353535;
}

/* Buttons */
.button {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    /* font-weight: 550; */
    font-size: 16px;
    padding: 8px 32px;
    border: none;
    border-radius: 0px;
    letter-spacing: 0;
    /* text-transform: uppercase; */
}

.blue-button {
    color: #ffffff;
    /* background-color: #289CEB; */
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px !important;
    background-image: linear-gradient(-180deg, #42b7ff, #1897f2);
    transition-duration: 4s;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);  */
}

.blue-button span:hover {
    color: white;
}

.blue-button:hover {
    background-image: linear-gradient(-180deg, #6dd1ff, #4ac2f1);
    /* other color choice (less bright): #6dc5ff,#4ab4f1 */
}

.blue-button:active {
    background-image: linear-gradient(-180deg, #18a2f2, #42baff) !important;
}

.blue-border-button {
    background-color: transparent;
    color: #289ceb;
    padding-left: 21px;
    padding-right: 21px;
    border: 3px solid #289ceb;
}

.white-border-button {
    background-color: transparent;
    color: #ffffff;
    padding-left: 21px;
    padding-right: 21px;
    border: 3px solid #ffffff;
}

.black-border-button {
    background-color: transparent;
    color: #000;
    padding-left: 21px;
    padding-right: 21px;
    border: 3px solid #000;
}

/* background-color & font-color*/
.bgLightestGrey {
    background-color: #f5f5f5;
}

.bgLightGrey {
    background-color: #f1f1f1;
}

.bgDarkGrey {
    background-color: #787878;
}

.bgBlack {
    background-color: #000000;
}

.bgWhite {
    background-color: #ffffff;
}

.whitetextshadow {
    color: white;
    text-shadow: 1px 1px 2px #242424b3;
}

.lightWhite {
    color: rgb(222, 222, 222);
}

/* positioning */

.center {
    text-align: center;
    justify-content: center;
}

.inline {
    display: inline;
}

/* Animation */
.animate {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

/*=== Delay options, change values here  ===*/
.one {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.two {
    -webkit-animation-delay: 1.7s;
    -moz-animation-delay: 1.7s;
    animation-delay: 1.7s;
}

.three {
    -webkit-animation-delay: 2.3s;
    -moz-animation-delay: 2.3s;
    animation-delay: 2.3s;
}

.four {
    -webkit-animation-delay: 3.3s;
    -moz-animation-delay: 3.3s;
    animation-delay: 3.3s;
}

/*=== Animations start here  ===*/
/*=== FADE IN  ===*/
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

/*=== FADE IN DOWN ===*/
@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

/*==== FADE IN UP ===*/
@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

/* Header */
nav {
    z-index: 5;
}

.navigation {
    padding: 0px 1rem;
    z-index: 25;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
        0 2px 6px 2px rgba(60, 64, 67, 0.15);
}

.navigation .container {
    height: 52px;
    position: relative;
    padding: 0px;
}

.navbar-light .navbar-nav .nav-link {
    color: #353535;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 2vw !important;
    padding-left: 2vw !important;
}

.navigation .navbar-collapse {
    width: 100%;
    margin-top: -2px;
    margin-left: -16px;
}

.navigation a {
    color: #353535;
    font-size: 16px;
    /* letter-spacing: 1.5px; */
}

.navbar-expand-md .navbar-nav .line-between .nav-link {
    padding-left: 0;
    padding-right: 0;
}

.nav-link {
    margin-left: 12px;
    margin-right: 12px;
    padding-top: 0.05rem;
    padding-bottom: 0.5rem;
}


/* .active a span{
	padding-bottom: 3px;
	border-bottom: 1px solid #353535;
} */

.nav-item:hover,
.nav-item:active {
    border-bottom: 2px solid rgb(95, 95, 95);
}

a span:hover,
a span:active {
    color: rgb(128, 124, 124);
}

#logoimg {
    height: 35px;
    position: relative;
}

.nav-item {
    box-sizing: border-box;
    border-bottom: transparent 2px solid;
}

.navbar-nav .nav-item.mx-auto>.nav-link {
    height: 52px;
    display: inline-block;
    line-height: 52px;
}

.nav-item .dropdown {
    list-style: none;
    position: absolute;
    z-index: 20;
    margin-top: 1px;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
    border-radius: 5px;
}

.nav-item:hover .dropdown {
    max-height: 200px;
    transition: max-height 0.3s ease-in;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
}
.nav-item .dropdown .nav-link{
    padding: 0px;
    height: 46px;
}

.nav-product-list {
    display: flex;
    justify-content: center;
    text-align: center;
    position: absolute;
    left: 0;
    background-color: white;
    padding: 0;
    width: 100%;
}

.nav-product-type {
    padding-top: 20px;
    padding-bottom: 40px;
}

.nav-product-list>li {
    background-color: white;
    list-style: none;
    position: relative;
    width: 33%;
    margin-bottom: 0;
    padding: 20px 10px;
}

/* 
.nav-product-list li {
  text-align: left;
} */

.nav-product-list p {
    color: #6c6c6c;
    margin-bottom: 0;
}

.nav-product-list li a span {
    font-size: 16px;
}

.nav-product-list li a span:hover {
    text-decoration: underline;
}

.nav-product-items li a span:hover {
    color: #6c6c6c;
}

.nav-item .nav-product-list .line-between:not(:last-child)::after {
    content: '';
    border: 2px solid #e3e3e3;
    position: absolute;
    right: -3px;
    top: 20px;
    height: 82%;
}

.nav-product-list .inline {
    display: inline-flex;
}

.nav-product-list .subtitle {
    font-size: 10px;
}

.nav-product-items {
    float: left;
    text-align: center;
    padding: 0 0;
    margin-bottom: 0;
}

.nav-product-items li {
    display: block !important;
}

#nav-service:hover #nav-service-dropdown {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
        0 2px 6px 2px rgba(60, 64, 67, 0.15);
    border-top: none;
}

#nav-service-dropdown {
    background-color: white;
    box-shadow: none;
}

#nav-service-dropdown .nav-link {
    padding-top: 0.75rem;
}

.ea2020img {
    width: 180px;
}

.mistsprayimg {
    width: 120px;
    height: 95px;
    margin-top: 1rem;
}

.agvehicleimg {
    width: 160px;
}

.bodyOverlay.menu-open:after {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.8);
}

#navButton {
    margin-left: 20px;
}

.logo{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 40px;
}
.logo img{
    height: 100%;
}
/* Contact Form */
.contact .card {
    background-color: white;
    padding: auto 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

.contact .card-header h2 {
    color: white;
    font-size: 36px;
}

#status {
    font-size: 18px;
}

.contact .card-header {
    background-color: #289ceb;
}

.contactSubtitle {
    color: #289ceb;
    font-size: 18px;
}

.contact .contactIcon {
    position: relative;
    top: -2px;
    width: 20px;
    height: auto;
}

.contact .note {
    text-align: right;
    margin: 3px 0;
    font-size: 12px;
    color: #6c6c6c;
}

/* Footer */
.footer {
    background-color: #353535;
    color: #ffffff;
}

.footer h3 {
    /* text-transform: uppercase; */
    padding-top: 48px;
    line-height: 30px;
    color: #ffffff;
}

.footer p {
    line-height: 20px;
    margin-bottom: 10px;
    color: #f1f1f1c0;
}

.footer p:last-child {
    color: #ffffff;
}

.footer a {
    color: #f1f1f1c0 !important;
    font-size: 13px;
}
.footer p{
    margin-bottom: 5px;
}

.footer a:hover {
    color: #FFFFFF !important;
    text-decoration: none;
}

.socialMedia {
    text-align: left;
    flex: 0 0 150px;
}

.footerIcon {
    width: 45px;
    margin-top: 48px;
    margin-left: 10px;
    line-height: 30px;
    /* border-radius:30px 30px 30px 30px; */
}

.row .copyright {
    font-size: 12px;
    padding-bottom: 24px !important;
    margin-left: 0px;
}

.learnMore {
    text-align: center;
}

.learnMore h2 {
    margin-top: 64px;
    margin-bottom: 24px;
}

.learnMore .button {
    margin-bottom: 64px;
}

/* Homepage */
#homeBanner {
    background: rgba(162, 199, 224, 0.185);
    color: #ffffff;
    margin-top: 52px;
}

#homeBanner .d-block {
    width: 100%;
    height: 720px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.carousel-item{
    overflow: hidden;
}

/* #homeVideo {
  position: relative;
  width: auto;
  min-width: 100%;
  height: auto;
  background-image: url("../img/homeHeader.jpg") no-repeat;
  background-size: cover;
} */

#homeBanner .carousel-caption {
    background-color: transparent;
    text-align: center;
    margin-top: 50px;
}

#homeBanner .carousel-caption h1,
#homeBanner .carousel-caption h3 {
    color: black;
    margin-bottom: 0px;
}

.carousel-caption a {
    text-decoration: none !important;
}

.cawhite {
    color: white !important;
}


#homeBanner .carousel-indicators {
    bottom: 55px;
}

#homeBanner .carousel-indicators li {
    width: 16px;
    height: 16px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    margin-right: 20px !important;
    margin-left: 20px !important;
}

#homeBanner .carousel-indicators .active {
    background-color: #64beff;
}

.homeTextSection {
    padding: 3rem 4rem;
}

.homeTextSection p.lightWhite{
    margin: 0px;
}
.homeTextSection .col-lg-3{
    margin-top: 1.5rem;
}

.homeTextSection h2 {
    margin: 0 auto;
}

.homeSection .row {
    justify-content: center;
    align-items: center;
    padding: 15px 4rem;
}

.homeCardSection {
    padding: 0rem 4rem;
}

.homeCardSection .row{
    justify-content: center;
    padding-bottom: 30px;
}

.homeCardSection>.row>h2 {
    margin: 3rem 0rem 1rem 0rem;
}

.homeCardSection .card {
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.homeCardSection .card-title{
    font-size:24px;
}

.round {
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;

    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.homeCardSection a:hover {
    text-decoration: none;
}

.homeCardSection .card-body {
    text-align: center;
    padding: 2rem 1rem;
}


#homePartners .row {
    justify-content: space-evenly;
}
.news-box{
    display: flex;
    justify-content: space-between;
}
.news-box .news-left{
    flex: 1;
}
.news-box .news-right{
    margin-left: 30px;
}
.news-left .row{
    margin: 0px;
}
.homeNewsSection>.row{
    margin: 0px;
}
.homeNewsSection .title-box {
    background-color: #F5F5F5;
    margin-left: -4rem !important;
    margin-right: -4rem !important;
    margin-bottom: 2rem;
}
.homeNewsSection {
    padding: 3rem 4rem;
}

.homeNewsSection .first-new-item {
    position: relative;
    width: 90%;
    margin-bottom: 40px;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
}
.ql-video{
    width: 100%;
    min-height: 500px;
}
.first-new-item img {
    width: 100%;
}
.newDetail{
    flex: 1;
}

.first-new-item .bottom-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 24px;
    color: white;
    padding: 10px 0;
    background: RGBA(45, 44, 43, 0.7);
    text-align: left;
    padding-left: 20px;
}

.homeNewsSection .card {
    margin: 1rem 0rem;
    padding: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 90%;
    transition: all .3s;
}

.homeNewsSection .card .card-body {
    display: flex;
    flex: 1 1 auto;
    padding: 0;
}


.homeNewsSection .card-content {
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.homeNewsSection .card-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-bottom: 1.2rem;
}

.homeNewsSection .card-subtitle {
    color: #606060;
    font-size: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    margin-bottom: 20px;
}
.homeNewsSection .card:hover{
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);
}
.homeNewsSection .card:hover .card-title{
    text-decoration: underline;
}
.news-date {
    margin-top: auto;
}
.img-box a{
    text-align: center;
}
.img-box a img{
    width: 60%;
}

#fmc{
    width: 70%;
}

#homeEA2020bgBlack {
    width: 400px;
    margin: auto;
    margin-top: 2rem;
}

#homeEa2020img {
    width: 100%;
    margin: 2rem auto;
}

#homeEa10img {
    width: 280px;
    margin: 3rem auto;
}

#homeEavag1img {
    width: 250px;
    margin: 2rem auto;
}

#homeSprayimg {
     width: 100%;
    margin: 2rem auto;
}

#homeAgVehicleimg {
   width: 100%;
}

#homecornfieldimg {
    object-fit: cover;
    width: 43vw;
    height: 11vw;
}

.news-img-left {
    width: 320px;
    height: 220px;
    object-fit: cover;
    object-position: center;
}

/* Solutions */
#solutionBanner {
    background-image: url('../img/solutionHeader.jpg');
    background-color: #e5e5e5;
    background-size: cover;
    color: #ffffff;
    height: 175px;
    margin-top: 64px;
}

#solutionContext {
    text-align: center;
}

#solutionContext h2 {
    margin-top: 64px;
    margin-bottom: 32px;
}

#solutionContext p {
    margin-bottom: 64px;
}

#solutionDescription {
    background-image: url('../img/solutionProductBackground.png');
    background-size: cover;
    background-color: #e5e5e5;
    color: black;
    text-align: center;
}

#solutionDescription h2 {
    margin-top: 64px;
    margin-bottom: 64px;
    color: white;
}

#solutionDescription p {
    margin-top: 16px;
    margin-bottom: 48px;
    color: white;
}

#solutionDescription .solutionIcons p {
    margin-top: 20px;
    margin-bottom: 64px;
    /* font-weight: 700; */
}

#solutionBenefits h2 {
    margin-top: 64px;
    margin-bottom: 64px;
    text-align: center;
}

#solutionBenefits .benefitsInfoText {
    background-color: #ffffff;
}

#solutionBenefits .container-fluid .row .col-md-6 {
    padding: 0 !important;
}

.benefitsInfo {
    height: 354px;
}

.benefitsInfoImg {
    display: inline-block;
    max-width: 49.3%;
    height: 354px;
}

.benefitsInfoImg img {
    width: 100%;
    height: 354px;
}

.benefitsInfoText {
    padding-left: 72px;
    padding-right: 72px;
}

.benefitsInfoText h3 {
    margin-top: 64px;
    margin-bottom: 24px;
}

/* E-A2020 */

#ea2020Banner {
    background-image: url('../img/ea2020-banner.png');
    background-position: top;
    background-size: cover;
    background-color: #e5e5e5;
    text-align: center;
    height: 768px;
}

#ea2020Banner .container-fluid {
    background-color: rgba(177, 206, 236, 0.2);
    justify-content: center;
    align-content: bottom;
    width: auto;
    height: 768px;
}

#ea2020Banner h1 {
    margin-top: 120px;
}

#ea2020Banner h3 {
    margin-top: 10px;
    margin-bottom: 15px;
}

#ea2020Banner p {
    margin-top: 0px;
    margin-bottom: 48px;
}

#ea2020Banner .buttons {
    position: relative;
    top: 220px;
    justify-content: center;
}

.ea2020Section .row {
    justify-content: center;
    align-items: center;
    padding: 15px auto;
}


.ea2020Section h2 {
    padding-bottom: 10px;
}

.ea2020Section .sideImg {
    width: 45vw;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.ea2020Section .sideImg2 {
    width: 25vw;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.ea2020Section .sideImg3 {
    width: 35vw;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.ea2020Section .sideImg4 {
    width: 45vw;
    height: auto;
}


.ea2020textSection {
    padding: 2rem 2rem;
}

.ea2020textSection h2 {
    margin: auto;
}

.ea2020overlay {
    background-image: url('../img/ea2020-spraying.png');
    background-position: top;
    background-size: cover;
    height: 650px;
}

.flip {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.ea2020overlay div {
    padding: 30px 0px;
}

#ea2020video {
    background-image: url('../img/spray-videocut.png');
    background-size: cover;
    width: 100vw;
    border:1px solid black;
}

.cropped-ea2020 img {
    object-fit: cover;
    object-position: 50% 65%;
    width: 900px;
    height: 250px;
    margin-top: 20px;
}

.ea2020Section h2 span {
    color: #289ceb;
    font-weight: 600;
}

.ea2020tableSection .table {
    font-size: 16px;
}

.ea2020tableSection .table th {
    font-weight: 500;
}

.ea2020tableSection .table td,
.ea2020tableSection .table th {
    padding: 8px;
}

.ea2020tableSection .table-shadow {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.ea2020tableSection .table-icon {
    width: 18px;
    height: auto;
}

.sixbox h3 {
    font-size: 18px;
}

.sixbox p {
    font-size: 16px;
}

/* Mist Spray System */
#spraySystemBanner {
    background-image: url('../img/mistSpraySystem/drone-sprayingmist.png');
    background-position: top;
    background-size: cover;
    background-color: #e5e5e5;
    text-align: center;
    height: 768px;
}

#spraySystemBanner .container-fluid {
    justify-content: center;
    align-content: bottom;
    width: auto;
    height: 768px;
}

#spraySystemBanner h1 {
    margin-top: 120px;
}

#spraySystemBanner h3 {
    margin-top: 10px;
    margin-bottom: 15px;
}

#spraySystemBanner p {
    margin-top: 0px;
    margin-bottom: 48px;
}

#spraySystemBanner .buttons {
    position: relative;
    top: 150px;
    justify-content: center;
}

.spraySystemSection .row {
    justify-content: center;
    align-items: center;
    padding: 15px auto;
}

.spraySystemTextSection {
    padding: 3rem 2rem;
    margin: 0 auto;
}
.spraySystemTextSection .row .col-12{
    margin-bottom: 0px;
    padding-bottom: 15px !important;
}

.spraySystemTextSection h3.font-weight-bold{
    font-size:18px;
    margin-top:15px;
}

.spraySystemTextSection .row {
    padding: 1rem 0;
}

.spraySystemTextSection .col {
    padding: 0 1rem;
}

.spraySystemTextSection h2 {
    margin: auto;
}

.spraySystemTextSection ul {
    margin-bottom: 0;
}

.spraySystemTextSection li {
    list-style: none;
}

.spraySystemTextSection .module-title{
    font-size:24px;
}

.spraySystemVideoSection {
    padding: 0 5rem;
    background-color: black;
}

.spraySystemVideoSection h2,
.spraySystemVideoSection p {
    color: white;
}

.spraySystemVideoSection .spraySystemTextSection .row {
    padding: 0.5rem 0;
}

#spraysystem-video {
    background-image: url('../img/mistSpraySystem/ccmsvideo-photo.png');
    background-size: cover;
    width: 100vw;
    padding-top: 2rem;
}

.sprayLeafBackground {
    background-image: url('../img/mistSpraySystem/spray-leaf.png');
    background-size: cover;
    height: 50vw;
}
.sprayLeafBackground .align-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.sprayLeafBackground h2,
.sprayLeafBackground p {
    color: white;
}

.sprayLeafBackground p {
    padding: 0.3rem 0;
}

.sprayicon {
    width: 150px;
    padding-top: 2rem;
}

.bgDroneSpray {
    background-image: url('../img/mistSpraySystem/drone-sprayingmist.png');
    background-size: cover;
    background-position-y: center;
    height: 45vw;
}

/* agvehicle */
#agvehicleBanner {
    background-color: white;
    text-align: center;
    height: 716px;
    margin-top: 50px;
    padding-top:20px;
}

#agvehicleBanner .container-fluid {
    justify-content: center;
    align-content: bottom;
    width: auto;
    height: 716px;
}

#agvehicleBanner h1 {
    margin-top: 28px;
}

#agvehicleBanner h3 {
    margin-top: 10px;
    margin-bottom: 15px;
}

#agvehicleBanner p {
    margin-top: 0px;
    margin-bottom: 2rem;
}

#agvehicleBanner .buttons {
    position: relative;
    /* bottom:40px; */
    justify-content: center;
}

#agvehicleBanner .agvehicleBannerImg{
    height:350px;
    padding:1rem;
}


.agvehicleSection {
    padding: 3rem 4rem;
}

.agvehicleSection .row {
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
}

.agvehicleSection h2 {
    padding: 1rem 0;
}
.agvehicleTextSection .font-weight-bold{
    font-size: 20px;
}

.agvehicleTextSection {
    padding: 3rem 4rem;
    margin: 0 auto;
}

.agvehicleTextSection .row {
    padding: 1rem 0;
}

.agvehicleTextSection .col {
    padding: 0 1rem;
}

.agvehicleTextSection h2 {
    margin: auto;
}

.agvehicleTextSection ul {
    margin-bottom: 0;
}

.agvehicleTextSection li {
    list-style: none;
}

.agvehicleTextSection .iconSections {
    padding: 30px 10px 10px 10px;
}

.agvehicleTextSection .iconSections p {
    padding: 15px 5px;
}

.agvehicleTextSection .citation {
    font-size: 12px;
    color: grey;
    padding-bottom: 2rem;
}

#agvehicle-in-water {
    width: 100vw;
    height:100%;
}

#cropCoverageBackground {
    background-image: url('../img/agvehicle/field2.png');
    background-position: top;
    background-size: cover;
    height: 700px;
}
#cropCoverageBackground h2,
#cropCoverageBackground p {
    /* color: white; */
}

#agvehicle-cartoon {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    width: 47vw;
}

#mobileControlImg {
    width: 20vw;
}

#agvehicleFieldBackground {
    background-image: url('../img/agvehicle/field3.png');
    background-position: center;
    background-size: cover;
    height: 600px;
}

#agvehicleFieldBackground h1 {
    position: relative;
    top: 10vw;
    right: 10vw;
}

#agvehicle-sideview {
    width: 100%;
}

.agvehicleIcon {
    width: 100px;
}

/* Service */

#serviceBanner {
    background-image: url('../img/uav-bg.jpg');
    background-position: bottom;
    background-size: cover;
    background-color: #e5e5e5;
    text-align: center;
    height: 768px;
}

#serviceBanner .container-fluid {
    background-color: rgba(177, 206, 236, 0.2);
    justify-content: center;
    align-content: bottom;
    width: auto;
    height: 768px;
}

#serviceBanner h1 {
    margin-top: 120px;
}

#serviceBanner h3 {
    margin-top: 20px;
    margin-bottom: 25px;
}

#serviceBanner p {
    margin-top: 0px;
    margin-bottom: 48px;
}

#serviceBanner .buttons {
    justify-content: center;
}

#serviceBanner button {
    margin: 10px 20px;
    width: 150px;
    justify-content: center;
}

#serviceDescription {
    text-align: center;
    /* background-image: url("../img/Hexagon-dotted-connect-line-background.jpg");
	background-size: cover;
	background-position: center; */
    background-color: #f5f5f5;
}

#serviceDescription .container-fluid {
    padding-top: 20px;
    padding-bottom: 30px;
}

#serviceDescription h2 {
    margin-bottom: 30px;
}

#serviceDescription h3 {
    font-weight: 400;
    cursor: auto;
}

#serviceDescription .container-fluid {
    justify-content: center;
    padding-bottom: 55px;
}

#serviceDescription .stepsContainer {
    justify-content: center;
    position: relative;
    margin: 25px 25px;
}

#serviceDescription .serviceStep {
    /* min-width: 350px; */
}

#serviceDescription .serviceStep .card {
    text-align: center;
    background-color: #f1f1f1;
    height: 100%;
}

#serviceDescription .card-body{
    cursor: auto;
    padding: 1rem;
}

.stepsContainer .inner-triangle {
    border-left: 90px solid transparent;
    border-right: 90px solid #0099e6;
    border-bottom: 90px solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    right: 0px;
    z-index: 1;
}

.stepsContainer .outer-triangle {
    border-left: 24px solid transparent;
    border-right: 38px solid transparent;
    border-bottom: 100px solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    right: 0px;
    /* bottom:0px; */
    z-index: 2;
    text-align: center;
    font-size: 32px;
}
#serviceCarousel .carousel-control-next, #serviceCarousel
.carousel-control-prev{
    height: 268px;
}
#serviceDescription .col-1 {
    padding: 5px;
}

#serviceDescription .serviceStep img {
    position: relative;
    width: auto;
    height: 270px;
    object-fit: cover;
    object-position: center;
}

#serviceDescription .serviceStep p {
    font-size: 14px;
    color: rgb(125, 126, 126);
    line-height: 1.3;
}

#serviceDescription .col-1 .arrowicon {
    position: relative;
    top: 70%;
    width: 40%;
}

/* Slideshow */
#serviceDescription .slideshowSection {
    padding-top: 35px;
}

#serviceDescription .slideshow-container {
    align-items: center;
    max-width: 1000px;
    position: relative;
    padding-bottom: 10px;
    min-width: 500px;
}

#serviceDescription .slideshowText {
    text-align: left;
}

#serviceDescription .w-100 {
    width: 450px !important;
    height: 268px;
}

#serviceDescription .thumbnails-carousel img {
    width: 110px;
}

.slideshowSection .slideshow-largerText{
    font-size:28px;
}

.serviceSection {
    padding: 15px 10%;
}

.serviceSection .row {
    justify-content: center;
    align-items: center;
    margin: 15px auto;
}

#techImg {
    width: 40vw;
    height: 25vw;
    margin: 10px auto;
}

#serviceIcon1 {
    margin-bottom: 20px;
    width: auto;
    height: 100px;
}

#serviceIcon2 {
    margin-bottom: 20px;
    width: auto;
    height: 100px;
}

#serviceIcon3 {
    margin-bottom: 20px;
    width: auto;
    height: 100px;
}

#serviceDescription .citation {
    justify-content: flex-end;
    color: grey;
    font-size: 12px;
    margin-top: 50px;
    margin-right: 15px;
    padding-right: 20px;
    padding-left: 20px;
}


/* Vision */
#visionBanner {
    background-image: url('../img/visionHeader.jpg');
    background-color: #e5e5e5;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    height: 175px;
    margin-top: 64px;
}

#visionDescription {
    text-align: center;
}

#visionDescription h2 {
    margin-top: 64px;
    margin-bottom: 32px;
}

#visionDescription p {
    margin-bottom: 64px;
}

/* Plugin styles */
.carousel-item .active img {
    margin: auto;
}

ul.thumbnails-carousel {
    padding: 5px 0 0 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
}

ul.thumbnails-carousel .center {
    display: inline-block;
}

ul.thumbnails-carousel li {
    margin-right: 5px;
    float: left;
    cursor: pointer;
}

.controls-background-reset {
    background: none !important;
}

.active-thumbnail {
    opacity: 0.4;
}

.indicators-fix {
    bottom: 50%;
}

.thumbnails-carousel img {
    height: 75px;
}

.carousel-caption {
    top: 2%;
    /* left: 5%; */
    /* bottom: auto; */
    /* right: auto !important; */
    color: #ffffff;
    padding-top: 0;
    padding-bottom: 0;
}

.carousel-caption h3 {
    padding: 15px 0px;
    color: #353535;
}

.carousel-caption h1{
    line-height: 40px;
}
#carouselArea {
    padding-bottom: 3rem;
}

/* Recent News */
.recentNews h2 {
    margin-top: 64px;
    margin-bottom: 64px;
    text-align: center;
}

.recentNews .card,
.pressCardArea .card {
    height: 400px;
    margin-bottom: 64px;
}

.recentNews .card-img-top,
.pressCardArea .card-img-top {
    height: 216px;
    width: auto;
    
}

.recentNews .card-body,
.pressCardArea .card-body {
    padding: 16px;
}

.recentNews .card-body h3,
.pressCardArea h3 {
    font-size: 18px;
    margin-bottom: 24px;
    line-height: 1.25;
}

.recentNews .card-body p,
.pressCardArea p {
    position: absolute;
    bottom: 16px;
    color: #6c6c6c;
    margin-bottom: 0;
}

/* Press */
#pressBanner {
    background-image: url('../img/placeholder.jpg');
    background-color: #e5e5e5;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    height: 450px;
    margin-top: 64px;
}

#pressBanner h1 {
    padding-top: 64px;
    padding-bottom: 64px;
    line-height: 60px;
    margin-top: auto;
    margin-bottom: auto;
}

#pressSearch h3 {
    padding-top: 24px;
    padding-bottom: 24px;
}

/* About */

#aboutBanner {
    background-image: url('../img/about/banner.png');
    background-position: top;
    background-size: cover;
    text-align: center;
    height: 768px;
}

#aboutBanner .container-fluid {
    background-color: rgba(177, 206, 236, 0.2);
    justify-content: center;
    align-content: bottom;
    width: auto;
    height: 768px;
}

#aboutBanner h1 {
    margin-top: 120px;
}

#aboutBanner h3 {
    margin-top: 250px;
    margin-bottom: 15px;
    font-size:22px;
}

#aboutBanner p {
    margin-top: 0px;
    margin-bottom: 48px;
}
.abouttextSection .row p{
    margin-bottom: 0px;
}

.abouttextSection .collageImgs {
    margin: 2rem 2rem 1.5rem 2rem;
}

.abouttextSection .row .sideImg{
    width: 500px;
    height: 300px;
}

.positions {
    background-color: #FFF;
}
.positions {
    padding-left: 3rem;
    padding-right: 3rem;
}
.aboutSection .row {
    justify-content: center;
    align-items: center;
}

.aboutSection .sideImg {
    width: 40vw;
}

.aboutSection h2 {
    margin-bottom: 2rem;
}

.aboutSection h3 {
    margin: 0 auto;
}

.executiveImg {
    width: 200px;
    height: auto;
    border-radius: 5px;
}

.leaders {
    font-size: 18px;
    font-weight: 600;
    color: #289ceb;
    text-decoration: none;
}
.leaders img{
    width: 15px;
    margin-left: 4px;
}

.leaders:hover {
    color: #42baff;
    text-decoration: none;
}

.leaders-title {
    font-size: 16px;
    font-weight: 600;
}

.leaders-description {
    line-height: 1.25;
}

.abouttextSection h2 {
    margin: auto;
}

#aboutPositions {
    background-color: #f1f1f1;
}

#aboutContact {
    padding-bottom: 64px;
}

/*Responsive Settings*/
@media (max-width: 767px) {

    /* General Styles */
    body {
        font-size: 16px;
    }

    h1 {
        font-size: 24px;
        letter-spacing: 0px;
    }

    h2 {
        font-size: 20px;
        letter-spacing: 0px;
    }

    h3 {
        font-size: 18px;
        letter-spacing: 0px;
    }

    h4 {
        font-size: 16px;
        letter-spacing: 0px;
    }

    /* Header */

    .navbar-toggler-icon {
        background-image: url('../static/img/menu.png');
    }

    .navigation {
        height: 52px;
    }
    .navbar-toggler{
        width: 30px;
        height: 23px;
        position: relative;
        padding: 0px;
    }
    .navbar-toggler .control-icon{
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: #7F7F7F;
        border-radius: 2px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }
    .navbar-toggler .control-icon:nth-child(1) {
        top: 0px;
        transform-origin: left center;
    }

    .navbar-toggler .control-icon:nth-child(2) {
        top: 9px;
        transform-origin: left center;
    }

    .navbar-toggler .control-icon:nth-child(3) {
        top: 18px;
        transform-origin: left center;
    }

    .navbar-toggler[aria-expanded=true] .control-icon:nth-child(1){
        transform: rotate(45deg);
        top: -1px;
        left: 4px;
    }
    .navbar-toggler[aria-expanded=true] .control-icon:nth-child(2) {
        width: 0%;
        opacity: 0;
    }
    .navbar-toggler[aria-expanded=true] .control-icon:nth-child(3) {
        transform: rotate(-45deg);
        top: 20px;
        left: 4px;
    }

    .navigation .navbar-toggler {
        border: none;
        outline: none;
    }

    .navbar-nav {
        background-color: white;
    }
    .navbar-nav .link{
        display: none;
    }

    .nav-products li {
        list-style: none;
    }

    .nav-button-mobile {
        position: fixed;
        top: 7px;
        right: 7px;
    }

    /* Footer */
    .footer .container{
        padding-right:30px;
        padding-left:30px;
    }

    .footer .socialMedia{
        display: flex;
    }
    
    .footer .footerIcon{
        margin-left:0px;
        margin-right:10px;
        margin-top:30px;
    }

    .footer h3 {
        padding-top: 32px;
        color: white;
    }
    .footer .col-2 {
        padding-right: 20px;
    }

    .footer .col-3 {
        max-width:30%
    }

    .footerIcon {
        display: inline-block;

    }

    /* Homepage */
    #homeBanner {
        /* height: 250px; */
        /* background-image: url('../img/homeHeader.jpg'); */
        background-color: #fafafa;
        /* background-color: #FAFAFA */
        background-size: cover;
        background-position: center;
    }

    #homeBanner video {
        display: none;
    }

    #homeBanner h1 {
        line-height: 30px;
        text-align: center;
    }
    /* #homePartners .img-box a img{
        width:45%;
    } */

    #productContext {
        text-align: center;
    }

    #productContext h2 {
        margin-top: 32px;
        margin-bottom: 18px;
    }

    #productContext p {
        margin-top: 0;
        margin-bottom: 18px;
    }

    #productContext .button {
        margin-bottom: 32px;
    }

    .recentNews .card,
    .pressCardArea .card {
        height: 340px;
        margin-bottom: 64px;
    }

    .recentNews h2 {
        margin-top: 32px;
        margin-bottom: 24px;
    }

    .recentNews .card {
        margin-bottom: 12px;
    }

    /* Solution */
    #solutionBanner {
        height: 100px;
    }

    #solutionContext h2 {
        margin-top: 32px;
        margin-bottom: 24px;
    }

    #solutionContext p {
        margin-bottom: 32px;
    }

    #solutionDescription h2 {
        margin-top: 32px;
        margin-bottom: 32px;
    }

    #solutionDescription p {
        margin-top: 24px;
    }

    #solutionDescriptionMobile .col-12:first-child {
        margin-top: 32px;
    }

    #solutionDescriptionMobile .col-12 {
        margin-bottom: 16px;
    }

    #solutionDescriptionMobile .col-12:last-child {
        margin-bottom: 0;
    }

    .solutionIcons img {
        display: inline-block;
    }

    .solutionIcons p {
        font-weight: bold;
        padding-left: 14px;
        display: inline-block;
    }

    #solutionBenefits h2 {
        margin-bottom: 32px;
    }

    .benefitsInfoText {
        text-align: center;
    }

    .benefitsInfoText h2 {
        margin-top: 32px;
        margin-bottom: 32px;
    }

    .benefitsInfoText p:last-child {
        margin-bottom: 32px;
    }

    #solutionBenefits img {
        height: 124px;
        width: 100%;
    }

    .learnMore h2 {
        margin-top: 32px;
    }

    .learnMore .button {
        margin-bottom: 32px;
    }

    /* Vision */
    #visionBanner {
        height: 75px;
    }

    #visionDescription h2 {
        margin-top: 32px;
        margin-bottom: 24px;
    }

    #visionDescription p {
        margin-bottom: 32px;
    }

    /* About */

    #aboutBanner {
        height: 480px;
    }
    #aboutBanner .container-fluid{
        height: 480px;
    }

    #aboutHiddenBlurb {
        padding-top: 48px;
    }

    #aboutHiddenBlurb h3 {
        font-weight: normal;
    }

    #aboutLeadership .card {
        margin-bottom: 24px;
    }

    #aboutLeadership h2,
    #aboutContact h2 {
        margin-top: 32px;
        margin-bottom: 32px;
    }

    #aboutPartnership {
        margin-bottom: 0px;
    }

    #aboutPartnership h2 {
        margin-top: 8px;
        margin-bottom: 32px;
    }

    #aboutPartnership p {
        margin-top: 24px;
        margin-bottom: 32px;
    }

    #aboutPositions h2 {
        margin-top: 32px;
        margin-bottom: 32px;
    }

    #aboutPositions p {
        margin-bottom: 24px;
    }

    #aboutContact {
        padding-bottom: 0;
    }

    #aboutContact p {
        text-align: center;
        margin-bottom: 24px;
    }

    #aboutContact p:first-child {
        margin-top: 24px;
    }

    #aboutContact p:last-child {
        margin-bottom: 32px;
    }


    #aboutMap iframe {
        width: 100% !important;
        height: 100% !important;
    }

    /* Press */
    #pressBanner {
        height: 250px;
    }

    #pressBanner h1 {
        padding-top: 32px;
        padding-bottom: 24px;
        line-height: 30px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 85%;
    }

    #pressBanner button {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .pressCardArea .card {
        margin-bottom: 16px;
    }

    #mobile-navbar .dropdown-menu li:last-child a {
        padding-bottom: 0px;
    }
    #mobile-navbar .dropdown-menu li:first-child a {
        padding-top: 0px;
    }
    .navigation .navbar-collapse{
        position: fixed;
        top: 52px;
        width: 100%;
        margin: 0px;
        padding: 10px 0px;
        left: 0px;
        background: #FFFFFF;
        box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
    }
}
