@media (max-width: 1400px){
    #homeBanner .d-block {
        width: auto;
    }
}
@media (min-width:1024px){
    .homeCardSection .card-title{
        font-size:24px;
    }
    

}
@media (max-width: 1023px){
    h1{
        font-size:40px;
    }

    #homeBanner .carousel-caption h1.vehicleBannerTitle{
        font-size:40px;
    }
    h2 {
        font-size: 24px;
    }
    h3{
        font-size:20px;
    }
    .homeCardSection .card-title{
        font-size:22px;
    }
}
@media (max-width: 1140px) {
    #serviceDescription .serviceStep {
        min-width: 350px;
        max-width: 400px;
    }
}

@media (max-width: 992px){
    #logoimg-mobile {
        padding-top:3px;
        padding-bottom:3px;
        height: 100%;
    }

    #homePartners .img-box a img{
        width:30%;
    }

    #homePartners #fmc,#homePartners #syngenta{
        width:40%;
    }
    .news-box {
        flex-direction: column;
        justify-content: center;
    }
    .first-new-item{
        width: 100% !important;
    }
    .homeNewsSection .card{
        width: 100%;
    }
    .abouttextSection .row .sideImg{
        padding-top:1.2rem;
    }
    #serviceDescription .slideshowText{
        flex: 0 0 70%;
        max-width: 70%;
    }
    
}

@media (max-width: 870px) {
    #homeBanner .vehicleBannerImg{
        padding-top: 130px;
    }
    .text-box{
        flex: 0 0 100%;
        max-width: 100%;
        padding: 2rem 0px;
    }
    .ea2020Section .row {
        flex-direction: column-reverse;
    }

    .ea2020Section .row .img-box {
        flex: 0 0 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }

    .ea2020Section .row .col-6 {
        flex: 0 0 80%;
        max-width: 80%;
        display: flex;
        flex-direction: column;
    }

    .ea2020Section .row .img-box .sideImg4 {
        width: 100%;
    }

    .ea2020Section.py-3 .row .col {
        flex: 0 0 70%;
        max-width: 70%;
        padding: 2rem 3rem;
    }

    .ea2020Section .row .col-5 {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 2rem 3rem;
    }

    .ea2020Section .row .col p {
        margin-bottom: 0px;
    }

    .ea2020Section.py-3 .col-6 {
        flex-direction: initial;
    }

    .ea2020Section .sideImg2 {
        width: 65vw !important;
        height: 100% !important;
        flex: 0;
    }

    .system .row {
        flex-direction: column;
    }

    .system .row .col-5 .py-4 {
        padding: 0px !important;
    }

    .system .row .col-5 .my-3 {
        margin-bottom: 0px !important;
    }

    .ea2020Section h2 {
        padding-bottom: 0px;
    }

    .system .row .col-sm-7 .sideImg3 {
        width: 80%;
        padding: 0px;
    }

    .package .pt-5 .sideImg {
        width: 80%;
        padding: 0px;
    }

    .bgLightGrey .row .col-5 {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
        padding: 0px !important;
    }

    .bgLightGrey .row .col-5 #agvehicle-sideview {
        width: 80%;
    }
}

@media (max-width: 767px){
    html{
        overflow-x: hidden;
    }
    h5{
        font-size: 36px;
    }
    #ea2020Banner .container-fluid{
        background-image: url(../img/ea2020_banner_mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #ea2020Banner{
        background-image:none;
        padding-top: 150px;
        background-color:#FFF;
    }
    .ea2020Section.py-3 .row .col {
        padding: 0px !important;
    }
    .ea2020Section.py-3{
        padding-bottom: 3rem !important;
    }
    .homeTextSection{
        padding: 3rem 2rem;
    }
    .homeTextSection .row{
        margin-left: 0px;
        margin-right: 0px;
    }
    .homeTextSection .col-lg-3{
        padding-left: 0px;
        padding-right: 0px;
    }
    .homeCardSection{
        padding: 3rem 2rem 0 2rem;
    }
    .homeCardSection .row{
        margin-left: 0px;
        margin-right: 0px;
    }
    .homeSection .row{
        padding: 0px;
    }
    .homeNewsSection{
        padding: 3rem 2rem;
    }
    .carousel-control-prev{
        display: none;
    }
    .carousel-control-next {
        display: none;
    }
    .navbar-light .navbar-nav .nav-link{
        padding: 5px 0px;
        outline: none;
    }
    .navbar-nav .nav-link{
        margin-left: 2rem;
    }

    .navbar-nav .dropdown-menu{
        border: none;
        transition-duration: 4s;
        padding-left:2rem;
    }
    .nav-item .btn span{
        font-weight:800;
    }

    .nav-item:hover{
        border-color: transparent;
    }
    .navigation a{
        text-decoration: none;
    }
    .dropdown-toggle::after{
        vertical-align:middle;
        transition: all .3s;
    }
    .dropdown.show .dropdown-toggle::after {
        transform: rotate(-180deg);
    }
    .navbar-nav .blue-button {
        margin-left: 2rem;
        display: none;
    }
    .navbar-nav .link {
        display: block;
        color: #289CEB;
        margin-left: 2rem;
        padding: 5px 0px;
        font-weight:600;
    }
    .pcBanner {
        display: none;
    }
    .mobileBanner {
        display: block;
    }
    .pcHomeBanner{
        display: none;
    }
    .mobileHomeBanner{
        display: block;
    }
    .homeBanner .carousel-indicators{
        bottom: 0px;
    }
    .homeBanner .carousel-indicators li {
        width: 10px;
        height: 10px;
    }
    .homeBanner .d-block {
        height: calc(100vh - 52px);
    }
    #carouselExampleIndicators .carousel-control-prev,
    #carouselExampleIndicators .carousel-control-next{
        display: none;
    }
    .carousel-caption .btn{
        border-width: 1px;
        font-size: 16px;
    }
    .carousel-caption h3{
        padding: 15px 0px 15px 0px;
    }
    .homeBanner .carousel-caption{
        margin-top: 20px;
        left: 10%;
        right: 10%;
        top: 0px;
    }
    #homeEA2020bgBlack {
        width: 50vw;
    }

    .homeCardSection.pb-5 .row .card{
        width: 100%;
    }

    .homeCardSection.pb-5 .row .card .card-title{
        padding-top: 20px !important;
        margin-bottom: 20px;
    }
    .homeCardSection.pb-5 .row .card img{
        width: 100% !important;
        height: auto !important;
        margin: 0px!important;
    }

    #homePartners .row{
        padding-top:1.7rem;
    }
    #homePartners .img-box a img{
        width:50%;
    }

    #homePartners #fmc,#homePartners #syngenta{
        width:65%;
    }
    
    .homeNewsSection h2.homeNewsTitle{
        margin-bottom:2rem;
    }

    .homeNewsSection .card .card-title {
        display: block;
        overflow: auto;
    }

    .homeNewsSection .card .card-subtitle {
        text-overflow:ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        margin-bottom: 0.75rem;
        margin-top: 0.25rem;
    }

    .homeNewsSection .card .card-body{
        max-height: auto !important;
        flex-wrap: wrap;

    }
    .homeNewsSection .card .card-body .news-img-left{
        width: 100% !important;
        height: 200px !important;
    }

    .homeNewsSection .card .card-body .card-content{
        text-align:left;
        padding: 20px;
    }

    .homeNewsSection .card-content p.card-subtitle{
        display: none;
    }

    .homeNewsSection .card-content p.card-subtitle, 
    .homeNewsSection .card-content p.news-date {
        text-align: left;
    }

    .serviceSection{
        padding: 0px;
    }
    #serviceDescription .slideshowSection {
        padding-top: 10px;
    }

    .slideshowSection .slideshow-largerText{
        font-size:24px;
    }

    #aboutBanner h1 {
        line-height: 30px;
        text-align: center;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
    }
    
    #aboutBanner h3 {
        margin-top: 120px;
        font-size:18px;
    }
    
    .aboutSection{
        padding: 3rem 2rem !important;
    }
    .aboutSection .row{
        flex-direction: column;
        margin: 0px !important;
    }
    .aboutSection .row .col-6{
        flex: auto;
        max-width: 100%;
        padding: 0px !important;
    }
    .aboutSection .row .col-5 .sideImg{
        width: 100%;
        padding: 0px;
    }
    .abouttextSection {
        padding: 3rem 2rem;
    }
    .abouttextSection .row{
        margin: 0px;
    }
    .abouttextSection .row h2{
        margin-bottom: 1rem;
    }
    .abouttextSection .row .col-9{
        flex: auto;
        max-width: 100%;
        padding: 0px !important;
    }
    .abouttextSection .row .sideImg{
        padding: 2rem 3rem 0 3rem;
        width: 410px;
        height: 220px;
    }

    .abouttextSection .row .sideImg:last-child{
        padding: 2rem 3rem 3rem 3rem;
    }

    .bgLightGrey .col-9 h3 {
        text-align: center;
        margin-top: 20px;
    }
    .bgLightGrey .col-9 .leaders-title {
        text-align: center;
    }
    .bgLightGrey .col-9{
        flex: auto;
        max-width: 100%;
        padding: 0px;
    }
    #aboutContact{
        padding: 3rem 2rem !important;
    }
    #aboutContact .container{
        padding: 0px !important;
    }
    #aboutContact .row {
        align-items: center;
    }
    #aboutMap {
        padding:1rem 0 1.5rem 0;
    }
    #serviceContact{
        padding: 0px !important;
    }

    .serviceSection .row{
        margin-top: 0px;
        padding:2rem;
    }
    .serviceSection .row .my-3{
        padding: 0px;
    }
    .serviceSection .row .pb-2{
        margin-left: -1rem;
        margin-right: -1rem;
    }
    .serviceSection .card h2{
        font-size:20px;
        margin:1rem 2rem !important;
    }
    .increased .row{
        padding: 0px;
        margin-bottom: 0px;
        padding-top: 1rem;
    }

    .increased .citation{
        padding-bottom:1.5rem;
    }

    #contactSubtitles .row{
        padding: 0 1rem;
    }

    #contact_form .pb-2{
        padding-bottom: 0 !important;
    }
    
    .homeNewsSection .card .card-body{
        flex-wrap: wrap;
    }
    .homeNewsSection .col-md-2{
        padding-left: 4rem;
        box-sizing: border-box;
    }
    .homeNewsSection .first-new-item{
        width: 100%;  
    }
    .first-new-item .bottom-container{
        font-size: 12px;
    }
    #ea2020Banner{
        height: auto;
    }
    #ea2020Banner .container-fluid{
        height: 618px;
    }

    #ea2020Banner h1{
        margin-top: -50px;
        margin-bottom: 0px;
    }
    /* #ea2020Banner h3{
        margin-top: -60px;
    } */
    #ea2020Banner p{
        line-height: 1.4;
        padding-right:20px;
        padding-left:20px;
        /* margin-top: -30px; */
    }
    #ea2020Banner .buttons{
        position: relative;
        top: 230px;
    }

    .homeNewsSection .card{
        max-width: 400px;
        margin: 1rem 0px;
    }
    
    .ea2020overlay .right{
        flex-direction: column;
        align-items: flex-end;
        margin-right: 0.3rem;
        text-align:right;
    }
    .ea2020overlay .right .col-3{
        flex: 0 0 43%;
        max-width: 43%;
        margin-bottom: 40px;
    }
    .ea2020overlay .right>div{
        padding: 0px;
    }
    .ea2020overlay .right .col-3 .whitetextshadow{
        line-height: 1.2;
        width:85%
    }
     .ea2020overlay .right .col-3 h3{
         font-size: 16px;
     }
     
     .ea2020textSection{
         padding: 0 0 1rem 0;
     }
     .ea2020textSection row h2{
        padding: 0 1.5rem !important;
    }
     .ea2020textSection .py-2{
         display: block;
     }
     .ea2020textSection .py-2 .col{
         padding: 0px 3rem;
         margin: 0 !important;
     }
    .ea2020textSection .row .col-9{
        margin-bottom: 32px !important;
        /* margin: 0px !important; */
        padding: 0px 1.5rem !important;
        width: 100%;
        flex: 1;
        max-width: 100%;
        text-align: left;
    }
    .ea2020textSection .row .py-4{
        padding: 0px 3rem !important;
        
    }
     .ea2020textSection .pt-5 .lightWhite{
         text-align: left;
         margin: 0px;
         padding: 0px 3rem;
         margin-bottom: 8px;
     }
    .ea2020textSection .py-2 .col .lightWhite{
        text-align: left;
    }
    .ea2020textSection .title{
        padding: 0px !important;
    }

    .cropped-ea2020 img{
        width: 90%;
        height: 30%;
        margin-top:0;
    }
    .sixbox h3{
        text-align: center;
    }
    .system {
        padding: 0px !important;
    }
    
    .package .pt-5{
        padding-top: 0px !important;
    }
    .package .pt-5 .col-5{
        text-align: center;
    }
    
    .versions {
        padding:2rem 0px !important;
    }
    .versions .table-responsive th,
    .versions .table-responsive td{
        font-size: 12px;
    }
    .versions .table-responsive td img{
        width: 12px;
    }
    .versions .container .sixbox{
        display: block;
    }
    .versions .container .sixbox .col{
        text-align: left;
    }
    #spraySystemBanner .buttons {
        position: relative;
        top: 60px;
    }
    .spraySystemTextSection .row h2{
        margin-bottom: 1.5rem;
    }
    .spraySystemTextSection .row{
        display: block;
        padding: 0px !important;
        margin: 0px;
    }
    .spraySystemTextSection .row .col{
        margin: 0px !important;
        padding: 0px;
    }
    .spraySystemVideoSection {
        padding: 0px;
    }
    .spraySystemTextSection .row .col-12{
        padding: 0px !important;
    }
    .spraySystemVideoSection .spraySystemTextSection{
        padding: 3rem 2rem;
    }
    .spraySystemVideoSection .spraySystemTextSection .col-9{
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0px 40px !important;
    }
    .sprayLeafBackground {
        height: auto;
    }
    .sprayLeafBackground .row.pt-5{
        padding-top: 1rem !important;
    }
    .sprayLeafBackground .row .col-4{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .bgDroneSpray {
        height: 400px;
    }

    .spraySystemTextSection .container{
        padding: 0px;
    }
    .spraySystemTextSection .col-9{
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }

    .spraySystemTextSection .bgLightGrey .row .col-4{
        padding: 0 0 !important;
    }

    .spraySystemTextSection .row h2.module-title{
        margin-top:2rem!important;
        margin-bottom: 0px !important;
        font-size: 20px;
        text-align:left;
    }
    
    .spraySystemTextSection .addedSpacing{
        padding-top:25px;
        padding-bottom:17px;
    }

    .spraySystemTextSection h3.font-weight-bold{
        font-size:16px;
        font-weight: 600 !important;
        margin-top:10px;
    }

    .bgLightGrey .row .col-4{
        flex: 0 0 100%;
        max-width: 100%;
    }

    #agvehicleBanner{
        height: 798px;
    }
    #agvehicleBanner .container-fluid{
        height: 798px;
    }

    #agvehicleBanner .container-fluid h1{
        line-height: 1.2;
    }
    #agvehicleBanner .agvehicleBannerImg{
        height:60vw;
        max-height: 350px;
        padding:2rem 0;
    }

    .agvehicleSection {
        padding: 2rem 2rem;
    }

    .agvehicleSection .row{
        display: block;
        padding: 0px;
        margin: 0px;
    }

    .agvehicleSection .row .col{
        padding: 0px;
    }

    .agvehicleSection .row #agvehicle-cartoon{
        width: 100%;
    }

    #cropCoverageBackground{
        height: 680px;
    }
    #serviceDescription .mt-5{
        margin-top: 2rem !important;
    }
    #cropCoverageBackground .row{
        padding: 10px 20px !important;
    }
    .agvehicleTextSection .col-5{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .agvehicleTextSection{
        padding: 3rem 2rem;
    }

    .agvehicleTextSection .row{
        display: block;
        padding: 0px;
        margin: 0px;
    }

    .agvehicleTextSection .row .col-10{
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0px;
    }

    .agvehicleTextSection .row .iconSections{
        padding: 0px !important;
        margin: 0px !important;
    }

    #agvehicleFieldBackground {
        height: 650px;
    }

    #agvehicleFieldBackground .row .col-9{
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0px !important;
    }

    #agvehicle-in-water{
        width: 100%;
        height: auto;
    }

    .agvehicleTextSection>.center{
        padding: 0px !important;
        margin: 0px !important;
    }

    .agvehicleTextSection>.row>.col-sm-8{
        padding: 0px;
         margin-bottom: 0px;
    }

    .agvehicleTextSection>.center>h2{
        margin-bottom: 1rem;
    }

    .agvehicleSection h2{
        padding: 0px !important;
        margin-bottom: 1rem;
    }

    .agvehicleSection .pt-2{
        padding: 0px !important;
    }

    #mobileControlImg {
        width: 35vw;
    }

    #agvehicle-sideview {
        width: 100%;
    }

    .bgLightGrey .row h2{
        text-align: center;
        padding: 0px 0px !important;
        margin: 0px !important;
        margin-bottom: 1rem !important;
        width: 100%;
    }
    .bgLightGrey .row p{
        text-align: center;
        padding: 0px !important;
    }
    /* .center{
        text-align:left;
    } */

    .bgLightGrey .row .col-lg-6 {
        padding: 0px;
    }
    
    .bgLightGrey .row .col-4{
        padding: 0px 0px;
    }
    #serviceDescription .stepsContainer{
        margin: 0px;
    }
    .stepsContainer .serviceStep {
        min-width: 350px;
    }

    #serviceDescription .slideshow-container{
        min-width: 100%;
    }
    #carouselArea{
        padding-bottom: 0px;
    }
    #serviceDescription .slideshowText{
        min-width: 100%;
        margin-left: 15px;
        padding-left: 15px;
    }
    #serviceDescription .citation{
        margin: 0px;
    }
    #serviceDescription .citation p{
        position: relative !important;
        bottom: 0px !important;
        margin-top: 20px;
    }
    #serviceDescription h1{
        right: 0px;
    }
    .serviceSection .row .col-6{
        max-width: 100%;
        flex: 0 0 100%;
    }
    #techImg{
        width: 100%;
        height: auto;
    }
    .serviceSection .row .col-4{
        max-width: 100%;
        flex: 0 0 100%;
    }
    /* #serviceDescription h2{
        margin-top: 1rem;
    } */
    .newsDetailContent{
        margin: 80px auto !important;
        padding: 0rem 2rem;
    }
    .newsDetailContent h1{
        margin-right: 0px !important;
        font-size: 24px;
        line-height: 1.5;
    }
    .newsDetailContent .newDetail .news-main{
        margin-right: 0px !important;
    }
    
    .newsDetailContent .content{
        flex-wrap: wrap;
    }
    .newsDetailContent .right-content {
        flex: 0 0 100%;
        width: 100%;
    }
    .newsDetailContent .right-content .news-list .news-item {
        width: 100% !important;
    }
    .newsDetailContent .right-content .news-list .news-item img{
        height: auto !important;
    }
    .newsDetailsContent .right-content h3{
        font-size:20px;
    }
}